@import '../../styles/variables';

.card {
  border: 1px solid $border-color;
  border-radius: 5px;
  margin: 1rem 1.5rem;
  padding: .5rem;
  background: aquamarine;
  transition: transform 250ms;
  cursor: pointer;

  &:hover {
    border-color: #49494940;
    transform: scale(1.01);
    box-shadow: 2px 2px 20px 0px #49494940;
  }

  &__header {
    background-color: #ee7d49;
    display: flex;
    justify-content: space-between;
  }
}
