@import '../../../styles/mixins';

.modal__window {
  z-index: 1000;
  transition: all 0.3s ease-out;
}

.modal {
  position: fixed;
  left: 25%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  background-color: white;

  &__header {
    border-bottom: 1px solid #ccc;
    padding: .5rem 1rem .5rem 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding: .5rem 1rem;
  }

  &__footer {
    border-top: 1px solid #ccc;
    padding: .5rem 1rem;
    display: flex;
    justify-content: flex-end;
  }
}