@import '../../styles/variables';

.container {
  margin-top: $header-height;
  margin-left: $navbar-width;

  background: #c0fce8;

  @media (max-width: $mobile-screen-width) {
    margin-left: 0;
  }
}