@import '../../styles/variables';
@import '../../styles//mixins';

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: $header-height;
  padding: 0 3rem 0 0;
  // background: linear-gradient(to left,#64b3f4, #c2e59c);
  background-color: rgb(26, 87, 87);
  font-size: 2rem;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;

  @media (max-width: $mobile-screen-width) {
    width: 100%;
    justify-content: space-between;

    // &__menu-icon {
    //   display: flex;
    // }
  }

  &__menu-icon {

    display: none;

    @media (max-width: $mobile-screen-width) {
      @include flexCenter;
      width: 50px;
      height: 100%;
    }
  }
}
