@import '../../styles/variables';

.navbar {
  display: flex;
  flex-direction: column;
  background: antiquewhite;
  border-right: 1px solid $border-color;
  position: fixed;
  top: $header-height;
  left: 0;
  padding-top: 1rem;
  width: $navbar-width;
  height: calc(100vh - #{$header-height});

  @media (max-width: $mobile-screen-width) {
    display: none;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: .75);
    backdrop-filter: blur(3px);
  }
  
  &.navbar--open {
    display: flex;
  }

  &__item {
    padding: 0.5rem 1rem;
    background: aliceblue;
    text-decoration: none;
    color: #000000;
    cursor: pointer;

    &--active {
      background: green;
    }

    &:hover {
      background: rgba($color: red, $alpha: 1);
    }
  }
}

// .navbar .navbar--open {
//   transform: translateX(0);
// }